*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Outfit', sans-serif;
}
.list{
    display: flex;
    margin: 0;
}
.list_item{
    padding-left: 20px;
}
.list_item a{
    text-decoration: none;
    color: #222222;
}
.fa-brands{
    margin-left: 15px;
}
.butonfirst{
    padding: 11px 15px;
    background: #2F2F2F;
    border-radius: 20px;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #FFFFFF;
    margin-left: 45px;
}
nav{
    margin-top: 30px;
}
.flex{
    display: flex;
    align-items: center;
}
.nft{
    margin-top: 240px;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.48px;
    color: #82CBAC;
    margin-bottom: 1px;
}
.change{
    font-weight: 600;
    font-size: 64px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
    margin-bottom: 25px;
}
.suspend{
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
}
.positionimage{
    margin-top: 113px;
    position: relative;

}
.pink_img{
     position: absolute;
   left: 170px;
    top: 110px;
}
.yellow{
    
    top: -100px;
}
.amal{
    top: 15px;
    left: -18px;
    /* position: absolute; */
}
.small_image1{
    width: 105px;
    height: 33px;
    align-items: center;
    top: 20px;
    left: -30px;
    position: absolute;
    background: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 30px;
    display: flex;
}
.lee{
    margin-left: 5px;
}
.small_image2{
    left: 100px;
    top: 450px;
    width: 159px;
    height: 55px;
    align-items: center;
    position: absolute;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    border: none;
    display: flex;
}
.lees{
    margin-left: 12px;
}
.section1{
    margin-top: 322px;
    margin-bottom: 128px;
}
.qator1{
    margin-left: -4px;
}
.hey{

    margin-top: 128px;
    font-weight: 500;
    font-size: 55px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #2F2F2F;
}
.sem{
    margin-top: 25px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #2F2F2F;
}
#qora{
    background: #2F2F2F;
    border: 1px solid #2F2F2F;
    border-radius: 30px;
    width: 179px;
    height: 50px;
}
.jack{
    /* padding: 11px 66px 17px 65px; */
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #FFFFFF;
}
.btn2{
    padding-top: 5px;
    margin-top: 72px;
    margin-bottom: 64px;
    margin-left: 8px;
    border: 1px solid #2F2F2F;
    border-radius: 30px;
    width: 179px;
    height: 50px;
}
.suni{
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #2F2F2F;
}
.digital{
    margin-top: 70px;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.48px;
    color: #FF7F96;
}
.blandit{
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
    margin-bottom: 21px;
}
.big_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
}
.rasom_div{
    margin-left: 50px;
    margin-bottom: 146px;
}
.our{
    margin-left: 63px;
    font-weight: 400;
    font-size: 37px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #2F2F2F;
    margin-bottom: 7px;
}
.um{
    margin-left: 63px;
    font-weight: 400;
    font-size: 57px;
    line-height: 57px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
    margin-bottom: 38px;
}
.nulla{
    margin-left: 63px;
    font-weight: 500;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
}
.btn3{
    margin-top: 32px;
    margin-left: 450px;
    background: #2F2F2F;
    border-radius: 0px;
    width: 166px;
    height: 44px;
}
.about{
    padding-top: 5px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #FFFFFF;
}
.nol1{
    padding-top: 5px;
    margin-top: 148px;
    background: #82CBAC;
    border-radius: 30px;
    border: none;
    width: 57px;
    height: 35px;
    margin-bottom: 5px;
}
.motion{
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
}
.small_text{
    font-weight: 400;
    font-size: 20px;
    line-height:30px;
    letter-spacing: 0.50px;
    color: #2F2F2F;
}
.nol2{
    padding-top: 5px;
    margin-top: 148px;
    border-radius: 30px;
    border: none;
    width: 57px;
    height: 35px;
    margin-bottom: 5px;
    background: #FF7F96;
}
.qator2{
    margin-left: 84px;
    margin-top: -140px ;
}
#nol3{
    background: #EAD71B;
}
.toy{
    margin-bottom: 141px;
    margin-top: 84px;
    margin-left: 80px;
}
.qator{
    margin-left: 84px;
}
.yashil{
    background: #82CBAC;
}
.browse{
    margin-left: 10px;
    font-weight: 400;
    font-size: 63px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #2F2F2F;
    margin-bottom: 73px;
}
.card{
    width: 358px;
    height: 313px;
    margin-right: 63px;
    text-align: start;
    border-radius: 30px;
    border: none;
    margin-bottom: 64px;
}
.card-text{
    padding-top: 15px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 29px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
}
#btn4{
    margin-left: 0;
    width: 134px;
    height: 44px;
    margin-bottom: 95px;
    border: none;
    padding-top: 5px;
}
.top{
    font-weight: 400;
    font-size: 63px;
    margin-bottom: 25px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
}
.btn5{
    background: rgba(168, 193, 216, 0.2);
    width: 38px;
    height: 38px;
    border: none;
    margin-right: 8px;
}
.card-body{
    display: flex;
}
.card-texti{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
    margin-right: 8px;
}
.raqam{
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
    margin-right: 49px;
}
.cards{
    width: 332px;
    height: 210px;
    margin-bottom: 92px;
}
.btn6{
    background: #FF7F96;
    border-radius: 30px;
    width: 38px;
    height: 38px;
    border: none;
}
.faq{
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #2F2F2F;

}
.accordion-item{
    border: none;
    margin-left: 50px;
    margin-bottom: 10px;
    font-weight: 600;
}
p{
    font-weight: 400;
font-size: 22px;
line-height: 24px;
letter-spacing: 0.48px;
color: #2F2F2F;
}
.big-logo{
    margin-bottom: 45px;
}

footer{
    margin-top: 220px;
     margin-bottom: 100px;
}
.join{
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
    margin-bottom: 15px;
}
.site{
    margin-left: 30px;
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
}
.a{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
    margin-bottom: 18px;
}
.input{
    width: 327px;
    height: 40px;
    background: #F6F6F6;
    border-radius: 20px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.48px;
    color: rgba(47, 47, 47, 0.36);
    text-align: start;
    padding-left: 32px;   
}
.btn10{
    background: #2F2F2F;
    border-radius: 20px;
    width: 79px;
    height: 40px;
    border: none;
    margin-left: 8px;
}
.sign{
    padding-top: 5px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.48px;
    color: #FFFFFF;
}
.stay{
    font-weight: 400;
    font-size: 37px;
    margin-bottom: 16px;
    line-height: 29px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
}
.various{
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.48px;
    color: #2F2F2F;
    margin-bottom: 16px;
}
.hayr{
    margin-left: 50px;
}
.katta{
    margin-right: 200px;
}
   